<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.nhnacademy.jdbc.board.board.mapper.BoardMapper">
    <select id="selectBoard" resultType="com.nhnacademy.jdbc.board.board.dto.BoardResponseDto">
        select b.boardId, b.title, b.content, u.username, b.editorName, b.createdAt, b.updatedAt, b.commentCount
        from Boards as b
            inner join Users as u on u.userId = b.writerId
        where b.boardId=#{id}
    </select>

    <select id="selectBoards" resultType="com.nhnacademy.jdbc.board.board.dto.BoardResponseDto">
        select b.boardId, b.title, b.content, u.username, b.editorName, b.createdAt, b.updatedAt, b.commentCount
        from Boards as b
                 inner join Users as u on u.userId = b.writerId
        where deleted=0 and b.title like '%' #{title} '%'
        order by boardId desc LIMIT 20 OFFSET #{offset}
    </select>

    <insert id="insertBoard" parameterType="com.nhnacademy.jdbc.board.board.domain.Board">
        insert into Boards(writerId, title, content, editorName, createdAt, updatedAt)
        values (#{userId}, #{title}, #{content}, #{editorName}, now(), now())
    </insert>

    <update id="updateBoard" parameterType="com.nhnacademy.jdbc.board.board.domain.Board">
        update Boards set title=#{title}, content=#{content}, editorName=#{editorName}, updatedAt=now()
        where boardId = #{boardId}
    </update>

    <update id="deleteById">
        update Boards set deleted=1
        where boardId=#{id}
    </update>

    <update id="restoreById">
        update Boards set deleted=0
        where boardId=#{id}
    </update>

    <update id="updateCommentCount">
        update Boards set commentCount=commentCount + #{amount} where boardId = #{boardId}
    </update>

    <select id="getTotalCount" resultType="long">
        select count(*) as count from Boards where deleted=0 and title like '%' #{title} '%'
    </select>
</mapper>
